/* -||- dragon.ninja sass/app.scss -||- */

#ninja {
  padding: 0 10px;
  margin-bottom: 10px;
  border: 1px solid #80bd01;
}
#react {
  padding: 0 10px;
  margin-bottom: 10px;
  border: 1px solid #80bd01;
}

body {
  background-color: #111;
  color: #ddd;
  font-family: 'Muli', sans-serif, arial;
  margin-bottom: 60px + 20px;
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}

footer {
  float: left;
  clear: both;
}

.nav-wrapper ul li {
  display: inline;
  float: right;
}


/* docs/main.css */

/* custom font icons */
/* @import "../www/css/font-icons/style.css"; */

/* hightlight.js for syntax highlighting */
/* @import "../www/css/github.css"; */

a {
  color: #80bd01; //limeA400
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  font-family: 'Muli', sans-serif;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


/* Used in our inline-styles.jsx as an example */
.muidocs-checkbox-example { 
  border: 2px solid #FF9800;
  background-color: #4CAF50;
}


/* todoapp.ninja.css */
/**
 * We are not changing from display:none, but rather re-rendering instead.
 * Therefore this needs to be displayed normally by default.
 */
#todo-list li .edit {
  display: inline;
}


/* -||- end file -||- */
